
body {
	margin: 0;
	padding: 0;
	font-family: Corbel,sans-serif;
    font-size: 19px;
    font-weight: 700;
    background-color: #282828;

}

nav {
	
}

div#wrapper {
	width: 1075px;
	height: 781px;
	border: 2px solid #797979;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 8px;
	background-color: #ffffff;
}

ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 26px;
	padding-top: 10px;

}

ul li {
	display: inline;
}

ul li a {
	text-decoration: underline;
	color: #00b0f0;
	font-size: 1.1em;
}

hr {
	border: 1px solid #353535;
	margin-left: 36px;
	margin-right: 36px;
}

form#container {
	width: 700px;
	height: 676px;
	border: 2px solid #353535;
	float: left;
	margin: 14px 5px 10px 22px;
	padding-top: 10px;

}

fieldset {
	width: 328px;
	height: 198px;
	border: 2px solid #353535;
	margin: 10px 8px;
	display: inline-block;
	box-sizing: border-box;
	padding-bottom: 10px;
}

legend {
	margin-left: 20%;
	padding-left: 15px;
	padding-right: 20px;
	text-align: center;
	font-size: 1.1em;
}

fieldset div.left_side {
	width: 49%;
	height: 100%;
	margin: 0;
	padding: 0;
	float: left;
}

fieldset div.left_side span {
	display: block;
	text-align: center;
	
}

fieldset div.right_side {
	width: 51%;
	margin: 0;
	padding-top: 20px;
	float: right;
}

fieldset div.right_side span {
	display: inline-block;
	margin-top: 12px;
}

input[type="range"] {
	width: 267px;
}

aside {
	border: none;
	width: 333px;
	height: 690px;
	float: right;
	margin: 14px 5px 15px;
	font-size: 1.1em;
}

aside div {
	float: left;
	margin: 20px 10px;
}

aside div span {
	padding: 20px 10px;
	display: inline-block;
}

aside div span:nth-of-type(2) {
	margin-left: 80px;
}

aside div span.first {
	padding-top: 50px;
	margin-top: 50px;

}